/* css reset by Josh W Comeau */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* actual css style */
:root {
    --player1-color: #ff4500;
    --player2-color: #1e90ff;
    --dark-gray: #2c2e31;
    --gray: #323437;
    --light-gray: #646669;
    --white: #d1d0c5;
    color: var(--white);
}

@font-face {
    font-family: "Rubik";
    src: url("assets/fonts/Rubik-Regular.ttf");
    font-weight: 400;
    font-size: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("assets/fonts/Rubik-Medium.ttf");
    font-weight: 500;
    font-size: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("assets/fonts/Rubik-Bold.ttf");
    font-weight: 700;
    font-size: normal;
    font-display: swap;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    font-family: "Rubik", sans-serif;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-rows: auto auto 1fr;
    gap: 36px;
    padding: 20px 0;
    align-content: start;
    background-color: var(--gray);
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 0px;
    overflow: hidden;
    border: 4px solid var(--light-gray);
    border-radius: 6px;
}

#board div {
    border: 4px solid var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

#board button {
    width: 142px;
    height: 142px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#board button:hover {
    background-color: var(--white);
}

.game-token {
    width: 60px;
    height: 60px;
}

.x-token {
    filter: invert(44%) sepia(85%) saturate(2645%) hue-rotate(347deg)
        brightness(100%) contrast(101%);
}

.o-token {
    filter: invert(45%) sepia(85%) saturate(1014%) hue-rotate(187deg)
        brightness(97%) contrast(98%);
}

#player-information {
    display: flex;
    border-radius: 6px;
    background-color: var(--dark-gray);
    padding: 18px 48px;
}

#score-board {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--gray);
    padding: 6px 24px;
    font-size: x-large;
    font-weight: bold;
    gap: 4px;
}

.player-name {
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#player1 {
    color: var(--player1-color);
    border: none;
    padding: 6px;
}

#player2 {
    color: var(--player2-color);
    border: none;
    padding: 6px;
}

#reset-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    filter: invert(42%) sepia(7%) saturate(220%) hue-rotate(177deg)
        brightness(89%) contrast(84%);
}

#reset-btn img {
    width: 40px;
    height: 40px;
}

#reset-btn:active img {
    animation: spin 0.5s ease-in-out;
}

#reset-btn:hover {
    filter: invert(97%) sepia(3%) saturate(667%) hue-rotate(15deg)
        brightness(88%) contrast(86%);
}

#reset-btn:focus {
    outline: none;
}

#reset-btn:focus-visible {
    outline: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
