/* css reset by Josh W Comeau */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* actual css style */
:root {
    --player1-color: #ff4500;
    --player2-color: #1e90ff;
}

@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik-Regular.ttf");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik-Medium.ttf");
  font-weight: 500;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik-Bold.ttf");
  font-weight: 700;
  font-size: normal;
  font-display: swap;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } 
}

body {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

#board button {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border: none;
}

.game-token {
    width: 60px;
    height: 60px;
}

.x-token {
    filter: invert(44%) sepia(85%) saturate(2645%) hue-rotate(347deg)
        brightness(100%) contrast(101%);
}

.o-token {
    filter: invert(45%) sepia(85%) saturate(1014%) hue-rotate(187deg)
        brightness(97%) contrast(98%);
}

#player-information {
  display: flex;
}

.player-name {
  outline: nonE;
}

#player1 {
    color: var(--player1-color);
    border: none;
    padding: 6px;
}

#player2 {
    color: var(--player2-color);
    border: none;
    padding: 6px;
}

#reset-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#reset-btn:active img {
  animation: spin 0.5s ease-in-out;
}

#reset-btn:hover {
  transform: scale(1.1);
}

#reset-btn:focus {
  outline: none;
}

#reset-btn:focus-visible {
  outline: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}